body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: #f4f4f4;
}

.top-footer {
    margin-left: -5%;
    background-color: #333;
    color: #fff;
    position: fixed;
    top: 0;
    width: 110%;
    padding: 20px 0;
    z-index: 1000;
}

.top-footer nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

.top-footer nav ul li {
    margin: 0 15px;
}

.top-footer nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
}

.top-footer nav ul li a:hover {
    text-decoration: underline;
}

.logout-container {
    position: absolute;
    top: 20px;
    right: 20px;
}

#logout-button {
    background-color: transparent;
    color: white;
    border: none;
    padding: 0px; /* Ajuste o padding para ajustar o tamanho do botão */
    border-radius: 50%; /* Faz o botão ser redondo */
    cursor: pointer;
    font-size: 14px; /* Tamanho do ícone */
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 1950%;
}

#logout-button i {
    font-size: 24px; /* Tamanho do ícone */
}

.container {
    max-width: 600px;
    margin: auto;
    padding: 20px;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    color: #333;
}

.section {
    margin-bottom: 20px;
}

.section label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.section input {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

select {
    background-color: #fff;
    cursor: pointer;
    border-radius: 4px;
    border: 1px solid #ccc
}

button {
    background-color: #45a049;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #3b913f;
}